<a href="https://colab.research.google.com/github/LatiefDataVisionary/demand-forecasting-retail-college-task/blob/main/notebooks/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = 'https://raw.githubusercontent.com/LatiefDataVisionary/demand-forecasting-retail-college-task/refs/heads/main/data/raw/Dataset%201_Retail%20Store%20Inventory%20and%20Demand%20Forecasting.csv'
data2 = 'https://raw.githubusercontent.com/LatiefDataVisionary/demand-forecasting-retail-college-task/refs/heads/main/data/raw/Dataset%202_Retail%20Sales%20Data%20with%20Seasonal%20Trends%20%26%20Marketing.csv'
data3 = ' https://raw.githubusercontent.com/LatiefDataVisionary/demand-forecasting-retail-college-task/refs/heads/main/data/raw/Dataset%203_Strategic%20Supply%20Chain%20Demand%20Forecasting%20Dataset.csv'

In [3]:
df1 = pd.read_csv(data1)
df1.head(10)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Price,Discount,Weather Condition,Promotion,Competitor Pricing,Seasonality,Epidemic,Demand
0,2022-01-01,S001,P0001,Electronics,North,195,102,252,72.72,5,Snowy,0,85.73,Winter,0,115
1,2022-01-01,S001,P0002,Clothing,North,117,117,249,80.16,15,Snowy,1,92.02,Winter,0,229
2,2022-01-01,S001,P0003,Clothing,North,247,114,612,62.94,10,Snowy,1,60.08,Winter,0,157
3,2022-01-01,S001,P0004,Electronics,North,139,45,102,87.63,10,Snowy,0,85.19,Winter,0,52
4,2022-01-01,S001,P0005,Groceries,North,152,65,271,54.41,0,Snowy,0,51.63,Winter,0,59
5,2022-01-01,S001,P0006,Toys,North,209,60,0,35.53,0,Snowy,0,40.01,Winter,0,55
6,2022-01-01,S001,P0007,Groceries,North,118,81,335,23.27,5,Snowy,0,24.78,Winter,0,94
7,2022-01-01,S001,P0008,Electronics,North,244,42,0,37.79,5,Snowy,0,44.85,Winter,0,61
8,2022-01-01,S001,P0009,Clothing,North,115,88,139,94.20,5,Snowy,0,108.70,Winter,0,129
9,2022-01-01,S001,P0010,Furniture,North,192,70,300,113.35,10,Snowy,0,129.98,Winter,0,69

In [4]:
df2 = pd.read_csv(data2)
df2.head(10)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0
5,2020,1,KYSELA PERE ET FILS LTD,100641,CORTENOVA VENETO P/GRIG - 750ML,WINE,2.76,0.0,6.0
6,2020,1,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.08,1.0,1.0
7,2020,1,BROWN-FORMAN BEVERAGES WORLDWIDE,1008,JACK DANIELS COUNTRY COCKTAIL SOUTHERN PEACH -...,BEER,0.00,0.0,2.0
8,2020,1,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,6.41,4.0,0.0
9,2020,1,INTERNATIONAL CELLARS LLC,101117,KSARA CAB - 750ML,WINE,0.33,1.0,2.0

In [5]:
df3 = pd.read_csv(data3)
df3.head(10)

,date,product_id,sales_units,holiday_season,promotion_applied,competitor_price_index,economic_index,weather_impact,price,discount_percentage,sales_revenue,region_Europe,region_North America,store_type_Retail,store_type_Wholesale,category_Cabinets,category_Chairs,category_Sofas,category_Tables,future_demand
0,2023-01-01,151,99,0,0,0.983893,1.314333,0,126.932922,0.000000,12566.359326,False,False,True,False,False,True,False,False,95.0
1,2023-01-02,192,95,1,0,0.977615,1.439582,0,151.355405,0.000000,14378.763512,False,True,False,False,True,False,False,False,101.0
2,2023-01-03,114,101,0,0,0.983913,1.094795,0,191.701693,0.000000,19361.870952,False,False,False,True,True,False,False,False,33.0
3,2023-01-04,171,33,0,0,1.191956,0.907672,0,173.106487,0.000000,5712.514059,False,False,False,True,False,True,False,False,82.0
4,2023-01-05,160,82,0,1,0.855711,1.479690,0,138.587491,10.995213,10114.659145,True,False,False,False,False,False,True,False,13.0
5,2023-01-06,120,13,1,0,1.076172,0.809426,0,117.209928,0.000000,1523.729067,False,False,False,True,True,False,False,False,122.0
6,2023-01-07,182,122,0,0,0.960798,1.257414,0,105.687337,0.000000,12893.855131,True,False,True,False,False,False,True,False,55.0
7,2023-01-08,186,55,0,1,1.004691,1.058207,0,156.189755,18.236073,7023.878268,False,False,True,False,False,True,False,False,27.0
8,2023-01-09,174,27,0,1,1.104958,0.728507,0,165.579143,13.758457,3855.546226,False,True,True,False,True,False,False,False,52.0
9,2023-01-10,174,52,0,0,0.862950,0.517483,1,59.175920,0.000000,3077.147859,False,False,False,True,False,False,False,True,170.0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76000 entries, 0 to 75999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                76000 non-null  object
 1   Store ID            76000 non-null  object
 2   Product ID          76000 non-null  object
 3   Category            76000 non-null  object
 4   Region              76000 non-null  object
 5   Inventory Level     76000 non-null  int64
 6   Units Sold          76000 non-null  int64
 7   Units Ordered       76000 non-null  int64
 8   Price               76000 non-null  float64
 9   Discount            76000 non-null  int64
 10  Weather Condition   76000 non-null  object
 11  Promotion           76000 non-null  int64
 12  Competitor Pricing  76000 non-null  float64
 13  Seasonality         76000 non-null  object
 14  Epidemic            76000 non-null  int64
 15  Demand              76000 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 9.3+ MB

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              30000 non-null  int64
 1   MONTH             30000 non-null  int64
 2   SUPPLIER          29967 non-null  object
 3   ITEM CODE         30000 non-null  object
 4   ITEM DESCRIPTION  30000 non-null  object
 5   ITEM TYPE         30000 non-null  object
 6   RETAIL SALES      29999 non-null  float64
 7   RETAIL TRANSFERS  30000 non-null  float64
 8   WAREHOUSE SALES   30000 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 2.1+ MB

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    4999 non-null   object
 1   product_id              4999 non-null   int64
 2   sales_units             4999 non-null   int64
 3   holiday_season          4999 non-null   int64
 4   promotion_applied       4999 non-null   int64
 5   competitor_price_index  4999 non-null   float64
 6   economic_index          4999 non-null   float64
 7   weather_impact          4999 non-null   int64
 8   price                   4999 non-null   float64
 9   discount_percentage     4999 non-null   float64
 10  sales_revenue           4999 non-null   float64
 11  region_Europe           4999 non-null   bool
 12  region_North America    4999 non-null   bool
 13  store_type_Retail       4999 non-null   bool
 14  store_type_Wholesale    4999 non-null   bool
 15  category_Cabinets       4999 non-null   bool
 16  category_Chairs         4999 non-null   bool
 17  category_Sofas          4999 non-null   bool
 18  category_Tables         4999 non-null   bool
 19  future_demand           4999 non-null   float64
dtypes: bool(8), float64(6), int64(5), object(1)
memory usage: 507.8+ KB

In [9]:
df1.describe(include='all')

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Price,Discount,Weather Condition,Promotion,Competitor Pricing,Seasonality,Epidemic,Demand
count,76000,76000,76000,76000,76000,76000.000000,76000.000000,76000.000000,76000.000000,76000.000000,76000,76000.000000,76000.000000,76000,76000.000000,76000.000000
unique,760,5,20,5,4,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,4,NaN,NaN
top,2024-01-30,S001,P0001,Groceries,North,NaN,NaN,NaN,NaN,NaN,Cloudy,NaN,NaN,Winter,NaN,NaN
freq,100,15200,3800,30400,30400,NaN,NaN,NaN,NaN,NaN,24360,NaN,NaN,21000,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,301.062842,88.827316,89.090645,67.726028,9.087039,NaN,0.328947,69.454029,NaN,0.200000,104.317158
std,NaN,NaN,NaN,NaN,NaN,226.510161,43.994525,162.404627,39.377899,7.475781,NaN,0.469834,40.943818,NaN,0.400003,46.964801
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,4.740000,0.000000,NaN,0.000000,4.290000,NaN,0.000000,4.000000
25%,NaN,NaN,NaN,NaN,NaN,136.000000,58.000000,0.000000,31.997500,5.000000,NaN,0.000000,32.620000,NaN,0.000000,71.000000
50%,NaN,NaN,NaN,NaN,NaN,227.000000,84.000000,0.000000,64.500000,10.000000,NaN,0.000000,65.700000,NaN,0.000000,100.000000
75%,NaN,NaN,NaN,NaN,NaN,408.000000,114.000000,121.000000,95.830000,10.000000,NaN,1.000000,97.932500,NaN,0.000000,133.000000
max,NaN,NaN,NaN,NaN,NaN,2267.000000,426.000000,1616.000000,228.030000,25.000000,NaN,1.000000,261.220000,NaN,1.000000,430.000000

In [10]:
df2.describe(include='all')

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,30000.0,30000.000000,29967,30000,30000,30000,29999.000000,30000.000000,30000.000000
unique,NaN,NaN,290,15668,15732,8,NaN,NaN,NaN
top,NaN,NaN,"THE COUNTRY VINTNER, LLC DBA WINEBOW",16225,TENTH WARD DIST CO CARAWAY RYE - 750ML,WINE,NaN,NaN,NaN
freq,NaN,NaN,2041,4,5,18680,NaN,NaN,NaN
mean,2020.0,3.911467,NaN,NaN,NaN,NaN,6.939796,6.594058,27.431031
std,0.0,2.836788,NaN,NaN,NaN,NaN,33.081054,27.879428,272.166085
min,2020.0,1.000000,NaN,NaN,NaN,NaN,-0.420000,-6.000000,-3999.000000
25%,2020.0,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
50%,2020.0,3.000000,NaN,NaN,NaN,NaN,0.160000,0.000000,1.000000
75%,2020.0,7.000000,NaN,NaN,NaN,NaN,2.920000,3.000000,6.000000
max,2020.0,9.000000,NaN,NaN,NaN,NaN,2739.000000,1507.000000,18317.000000

In [11]:
df3.describe(include='all')

,date,product_id,sales_units,holiday_season,promotion_applied,competitor_price_index,economic_index,weather_impact,price,discount_percentage,sales_revenue,region_Europe,region_North America,store_type_Retail,store_type_Wholesale,category_Cabinets,category_Chairs,category_Sofas,category_Tables,future_demand
count,4999,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999,4999,4999,4999,4999,4999,4999,4999,4999.000000
unique,4999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,NaN
top,2036-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3321,3315,3332,3308,3997,4011,4031,3936,NaN
mean,NaN,148.897780,103.287057,0.201240,0.291458,1.000817,1.006562,0.143429,110.942274,5.131256,10868.506476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.293059
std,NaN,28.966902,54.805135,0.400967,0.454480,0.116095,0.287037,0.350545,51.947268,8.879610,8261.926164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.806308
min,NaN,100.000000,10.000000,0.000000,0.000000,0.800081,0.500021,0.000000,20.016788,0.000000,205.710553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000
25%,NaN,124.000000,56.000000,0.000000,0.000000,0.900912,0.764042,0.000000,66.092894,0.000000,4246.400673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.000000
50%,NaN,148.000000,101.000000,0.000000,0.000000,0.999048,1.010684,0.000000,111.391956,0.000000,8746.124067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.000000
75%,NaN,174.000000,151.000000,0.000000,1.000000,1.102838,1.253165,0.000000,156.397044,8.850384,15700.271472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.000000
max,NaN,199.000000,199.000000,1.000000,1.000000,1.199929,1.499974,1.000000,199.963480,29.996538,39200.191692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.000000

Berikut adalah kode untuk melihat nilai unik dan jumlah kemunculan nilai di setiap kolom bertipe object pada `df1`:

In [12]:
for col in df1.select_dtypes(include='object').columns:
    print(f"Unique values in {col}: {df1[col].unique()}")
    print(f"Value counts in {col}:\n{df1[col].value_counts()}\n")

Unique values in Date: ['2022-01-01' '2022-01-02' '2022-01-03' '2022-01-04' '2022-01-05'
 '2022-01-06' '2022-01-07' '2022-01-08' '2022-01-09' '2022-01-10'
 '2022-01-11' '2022-01-12' '2022-01-13' '2022-01-14' '2022-01-15'
 '2022-01-16' '2022-01-17' '2022-01-18' '2022-01-19' '2022-01-20'
 '2022-01-21' '2022-01-22' '2022-01-23' '2022-01-24' '2022-01-25'
 '2022-01-26' '2022-01-27' '2022-01-28' '2022-01-29' '2022-01-30'
 '2022-01-31' '2022-02-01' '2022-02-02' '2022-02-03' '2022-02-04'
 '2022-02-05' '2022-02-06' '2022-02-07' '2022-02-08' '2022-02-09'
 '2022-02-10' '2022-02-11' '2022-02-12' '2022-02-13' '2022-02-14'
 '2022-02-15' '2022-02-16' '2022-02-17' '2022-02-18' '2022-02-19'
 '2022-02-20' '2022-02-21' '2022-02-22' '2022-02-23' '2022-02-24'
 '2022-02-25' '2022-02-26' '2022-02-27' '2022-02-28' '2022-03-01'
 '2022-03-02' '2022-03-03' '2022-03-04' '2022-03-05' '2022-03-06'
 '2022-03-07' '2022-03-08' '2022-03-09' '2022-03-10' '2022-03-11'
 '2022-03-12' '2022-03-13' '2022-03-14' '2022-03-15' '2022-03-16'
 '2022-03-17' '2022-03-18' '2022-03-19' '2022-03-20' '2022-03-21'
 '2022-03-22' '2022-03-23' '2022-03-24' '2022-03-25' '2022-03-26'
 '2022-03-27' '2022-03-28' '2022-03-29' '2022-03-30' '2022-03-31'
 '2022-04-01' '2022-04-02' '2022-04-03' '2022-04-04' '2022-04-05'
 '2022-04-06' '2022-04-07' '2022-04-08' '2022-04-09' '2022-04-10'
 '2022-04-11' '2022-04-12' '2022-04-13' '2022-04-14' '2022-04-15'
 '2022-04-16' '2022-04-17' '2022-04-18' '2022-04-19' '2022-04-20'
 '2022-04-21' '2022-04-22' '2022-04-23' '2022-04-24' '2022-04-25'
 '2022-04-26' '2022-04-27' '2022-04-28' '2022-04-29' '2022-04-30'
 '2022-05-01' '2022-05-02' '2022-05-03' '2022-05-04' '2022-05-05'
 '2022-05-06' '2022-05-07' '2022-05-08' '2022-05-09' '2022-05-10'
 '2022-05-11' '2022-05-12' '2022-05-13' '2022-05-14' '2022-05-15'
 '2022-05-16' '2022-05-17' '2022-05-18' '2022-05-19' '2022-05-20'
 '2022-05-21' '2022-05-22' '2022-05-23' '2022-05-24' '2022-05-25'
 '2022-05-26' '2022-05-27' '2022-05-28' '2022-05-29' '2022-05-30'
 '2022-05-31' '2022-06-01' '2022-06-02' '2022-06-03' '2022-06-04'
 '2022-06-05' '2022-06-06' '2022-06-07' '2022-06-08' '2022-06-09'
 '2022-06-10' '2022-06-11' '2022-06-12' '2022-06-13' '2022-06-14'
 '2022-06-15' '2022-06-16' '2022-06-17' '2022-06-18' '2022-06-19'
 '2022-06-20' '2022-06-21' '2022-06-22' '2022-06-23' '2022-06-24'
 '2022-06-25' '2022-06-26' '2022-06-27' '2022-06-28' '2022-06-29'
 '2022-06-30' '2022-07-01' '2022-07-02' '2022-07-03' '2022-07-04'
 '2022-07-05' '2022-07-06' '2022-07-07' '2022-07-08' '2022-07-09'
 '2022-07-10' '2022-07-11' '2022-07-12' '2022-07-13' '2022-07-14'
 '2022-07-15' '2022-07-16' '2022-07-17' '2022-07-18' '2022-07-19'
 '2022-07-20' '2022-07-21' '2022-07-22' '2022-07-23' '2022-07-24'
 '2022-07-25' '2022-07-26' '2022-07-27' '2022-07-28' '2022-07-29'
 '2022-07-30' '2022-07-31' '2022-08-01' '2022-08-02' '2022-08-03'
 '2022-08-04' '2022-08-05' '2022-08-06' '2022-08-07' '2022-08-08'
 '2022-08-09' '2022-08-10' '2022-08-11' '2022-08-12' '2022-08-13'
 '2022-08-14' '2022-08-15' '2022-08-16' '2022-08-17' '2022-08-18'
 '2022-08-19' '2022-08-20' '2022-08-21' '2022-08-22' '2022-08-23'
 '2022-08-24' '2022-08-25' '2022-08-26' '2022-08-27' '2022-08-28'
 '2022-08-29' '2022-08-30' '2022-08-31' '2022-09-01' '2022-09-02'
 '2022-09-03' '2022-09-04' '2022-09-05' '2022-09-06' '2022-09-07'
 '2022-09-08' '2022-09-09' '2022-09-10' '2022-09-11' '2022-09-12'
 '2022-09-13' '2022-09-14' '2022-09-15' '2022-09-16' '2022-09-17'
 '2022-09-18' '2022-09-19' '2022-09-20' '2022-09-21' '2022-09-22'
 '2022-09-23' '2022-09-24' '2022-09-25' '2022-09-26' '2022-09-27'
 '2022-09-28' '2022-09-29' '2022-09-30' '2022-10-01' '2022-10-02'
 '2022-10-03' '2022-10-04' '2022-10-05' '2022-10-06' '2022-10-07'
 '2022-10-08' '2022-10-09' '2022-10-10' '2022-10-11' '2022-10-12'
 '2022-10-13' '2022-10-14' '2022-10-15' '2022-10-16' '2022-10-17'
 '2022-10-18' '2022-10-19' '2022-10-20' '2022-10-21' '2022-10-22'
 '2022-10-23' '2022-10-24' '2022-10-25' '2022-10-26' '2022-10-27'
 '2022-10-28' '2022-10-29' '2022-10-30' '2022-10-31' '2022-11-01'
 '2022-11-02' '2022-11-03' '2022-11-04' '2022-11-05' '2022-11-06'
 '2022-11-07' '2022-11-08' '2022-11-09' '2022-11-10' '2022-11-11'
 '2022-11-12' '2022-11-13' '2022-11-14' '2022-11-15' '2022-11-16'
 '2022-11-17' '2022-11-18' '2022-11-19' '2022-11-20' '2022-11-21'
 '2022-11-22' '2022-11-23' '2022-11-24' '2022-11-25' '2022-11-26'
 '2022-11-27' '2022-11-28' '2022-11-29' '2022-11-30' '2022-12-01'
 '2022-12-02' '2022-12-03' '2022-12-04' '2022-12-05' '2022-12-06'
 '2022-12-07' '2022-12-08' '2022-12-09' '2022-12-10' '2022-12-11'
 '2022-12-12' '2022-12-13' '2022-12-14' '2022-12-15' '2022-12-16'
 '2022-12-17' '2022-12-18' '2022-12-19' '2022-12-20' '2022-12-21'
 '2022-12-22' '2022-12-23' '2022-12-24' '2022-12-25' '2022-12-26'
 '2022-12-27' '2022-12-28' '2022-12-29' '2022-12-30' '2022-12-31'
 '2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'
 '2023-01-06' '2023-01-07' '2023-01-08' '2023-01-09' '2023-01-10'
 '2023-01-11' '2023-01-12' '2023-01-13' '2023-01-14' '2023-01-15'
 '2023-01-16' '2023-01-17' '2023-01-18' '2023-01-19' '2023-01-20'
 '2023-01-21' '2023-01-22' '2023-01-23' '2023-01-24' '2023-01-25'
 '2023-01-26' '2023-01-27' '2023-01-28' '2023-01-29' '2023-01-30'
 '2023-01-31' '2023-02-01' '2023-02-02' '2023-02-03' '2023-02-04'
 '2023-02-05' '2023-02-06' '2023-02-07' '2023-02-08' '2023-02-09'
 '2023-02-10' '2023-02-11' '2023-02-12' '2023-02-13' '2023-02-14'
 '2023-02-15' '2023-02-16' '2023-02-17' '2023-02-18' '2023-02-19'
 '2023-02-20' '2023-02-21' '2023-02-22' '2023-02-23' '2023-02-24'
 '2023-02-25' '2023-02-26' '2023-02-27' '2023-02-28' '2023-03-01'
 '2023-03-02' '2023-03-03' '2023-03-04' '2023-03-05' '2023-03-06'
 '2023-03-07' '2023-03-08' '2023-03-09' '2023-03-10' '2023-03-11'
 '2023-03-12' '2023-03-13' '2023-03-14' '2023-03-15' '2023-03-16'
 '2023-03-17' '2023-03-18' '2023-03-19' '2023-03-20' '2023-03-21'
 '2023-03-22' '2023-03-23' '2023-03-24' '2023-03-25' '2023-03-26'
 '2023-03-27' '2023-03-28' '2023-03-29' '2023-03-30' '2023-03-31'
 '2023-04-01' '2023-04-02' '2023-04-03' '2023-04-04' '2023-04-05'
 '2023-04-06' '2023-04-07' '2023-04-08' '2023-04-09' '2023-04-10'
 '2023-04-11' '2023-04-12' '2023-04-13' '2023-04-14' '2023-04-15'
 '2023-04-16' '2023-04-17' '2023-04-18' '2023-04-19' '2023-04-20'
 '2023-04-21' '2023-04-22' '2023-04-23' '2023-04-24' '2023-04-25'
 '2023-04-26' '2023-04-27' '2023-04-28' '2023-04-29' '2023-04-30'
 '2023-05-01' '2023-05-02' '2023-05-03' '2023-05-04' '2023-05-05'
 '2023-05-06' '2023-05-07' '2023-05-08' '2023-05-09' '2023-05-10'
 '2023-05-11' '2023-05-12' '2023-05-13' '2023-05-14' '2023-05-15'
 '2023-05-16' '2023-05-17' '2023-05-18' '2023-05-19' '2023-05-20'
 '2023-05-21' '2023-05-22' '2023-05-23' '2023-05-24' '2023-05-25'
 '2023-05-26' '2023-05-27' '2023-05-28' '2023-05-29' '2023-05-30'
 '2023-05-31' '2023-06-01' '2023-06-02' '2023-06-03' '2023-06-04'
 '2023-06-05' '2023-06-06' '2023-06-07' '2023-06-08' '2023-06-09'
 '2023-06-10' '2023-06-11' '2023-06-12' '2023-06-13' '2023-06-14'
 '2023-06-15' '2023-06-16' '2023-06-17' '2023-06-18' '2023-06-19'
 '2023-06-20' '2023-06-21' '2023-06-22' '2023-06-23' '2023-06-24'
 '2023-06-25' '2023-06-26' '2023-06-27' '2023-06-28' '2023-06-29'
 '2023-06-30' '2023-07-01' '2023-07-02' '2023-07-03' '2023-07-04'
 '2023-07-05' '2023-07-06' '2023-07-07' '2023-07-08' '2023-07-09'
 '2023-07-10' '2023-07-11' '2023-07-12' '2023-07-13' '2023-07-14'
 '2023-07-15' '2023-07-16' '2023-07-17' '2023-07-18' '2023-07-19'
 '2023-07-20' '2023-07-21' '2023-07-22' '2023-07-23' '2023-07-24'
 '2023-07-25' '2023-07-26' '2023-07-27' '2023-07-28' '2023-07-29'
 '2023-07-30' '2023-07-31' '2023-08-01' '2023-08-02' '2023-08-03'
 '2023-08-04' '2023-08-05' '2023-08-06' '2023-08-07' '2023-08-08'
 '2023-08-09' '2023-08-10' '2023-08-11' '2023-08-12' '2023-08-13'
 '2023-08-14' '2023-08-15' '2023-08-16' '2023-08-17' '2023-08-18'
 '2023-08-19' '2023-08-20' '2023-08-21' '2023-08-22' '2023-08-23'
 '2023-08-24' '2023-08-25' '2023-08-26' '2023-08-27' '2023-08-28'
 '2023-08-29' '2023-08-30' '2023-08-31' '2023-09-01' '2023-09-02'
 '2023-09-03' '2023-09-04' '2023-09-05' '2023-09-06' '2023-09-07'
 '2023-09-08' '2023-09-09' '2023-09-10' '2023-09-11' '2023-09-12'
 '2023-09-13' '2023-09-14' '2023-09-15' '2023-09-16' '2023-09-17'
 '2023-09-18' '2023-09-19' '2023-09-20' '2023-09-21' '2023-09-22'
 '2023-09-23' '2023-09-24' '2023-09-25' '2023-09-26' '2023-09-27'
 '2023-09-28' '2023-09-29' '2023-09-30' '2023-10-01' '2023-10-02'
 '2023-10-03' '2023-10-04' '2023-10-05' '2023-10-06' '2023-10-07'
 '2023-10-08' '2023-10-09' '2023-10-10' '2023-10-11' '2023-10-12'
 '2023-10-13' '2023-10-14' '2023-10-15' '2023-10-16' '2023-10-17'
 '2023-10-18' '2023-10-19' '2023-10-20' '2023-10-21' '2023-10-22'
 '2023-10-23' '2023-10-24' '2023-10-25' '2023-10-26' '2023-10-27'
 '2023-10-28' '2023-10-29' '2023-10-30' '2023-10-31' '2023-11-01'
 '2023-11-02' '2023-11-03' '2023-11-04' '2023-11-05' '2023-11-06'
 '2023-11-07' '2023-11-08' '2023-11-09' '2023-11-10' '2023-11-11'
 '2023-11-12' '2023-11-13' '2023-11-14' '2023-11-15' '2023-11-16'
 '2023-11-17' '2023-11-18' '2023-11-19' '2023-11-20' '2023-11-21'
 '2023-11-22' '2023-11-23' '2023-11-24' '2023-11-25' '2023-11-26'
 '2023-11-27' '2023-11-28' '2023-11-29' '2023-11-30' '2023-12-01'
 '2023-12-02' '2023-12-03' '2023-12-04' '2023-12-05' '2023-12-06'
 '2023-12-07' '2023-12-08' '2023-12-09' '2023-12-10' '2023-12-11'
 '2023-12-12' '2023-12-13' '2023-12-14' '2023-12-15' '2023-12-16'
 '2023-12-17' '2023-12-18' '2023-12-19' '2023-12-20' '2023-12-21'
 '2023-12-22' '2023-12-23' '2023-12-24' '2023-12-25' '2023-12-26'
 '2023-12-27' '2023-12-28' '2023-12-29' '2023-12-30' '2023-12-31'
 '2024-01-01' '2024-01-02' '2024-01-03' '2024-01-04' '2024-01-05'
 '2024-01-06' '2024-01-07' '2024-01-08' '2024-01-09' '2024-01-10'
 '2024-01-11' '2024-01-12' '2024-01-13' '2024-01-14' '2024-01-15'
 '2024-01-16' '2024-01-17' '2024-01-18' '2024-01-19' '2024-01-20'
 '2024-01-21' '2024-01-22' '2024-01-23' '2024-01-24' '2024-01-25'
 '2024-01-26' '2024-01-27' '2024-01-28' '2024-01-29' '2024-01-30']
Value counts in Date:
Date
2024-01-30    100
2022-01-01    100
2022-01-02    100
2022-01-03    100
2022-01-04    100
             ...
2022-01-13    100
2022-01-12    100
2022-01-11    100
2022-01-10    100
2022-01-09    100
Name: count, Length: 760, dtype: int64

Unique values in Store ID: ['S001' 'S002' 'S003' 'S004' 'S005']
Value counts in Store ID:
Store ID
S001    15200
S002    15200
S003    15200
S004    15200
S005    15200
Name: count, dtype: int64

Unique values in Product ID: ['P0001' 'P0002' 'P0003' 'P0004' 'P0005' 'P0006' 'P0007' 'P0008' 'P0009'
 'P0010' 'P0011' 'P0012' 'P0013' 'P0014' 'P0015' 'P0016' 'P0017' 'P0018'
 'P0019' 'P0020']
Value counts in Product ID:
Product ID
P0001    3800
P0002    3800
P0003    3800
P0004    3800
P0005    3800
P0006    3800
P0007    3800
P0008    3800
P0009    3800
P0010    3800
P0011    3800
P0012    3800
P0013    3800
P0014    3800
P0015    3800
P0016    3800
P0017    3800
P0018    3800
P0019    3800
P0020    3800
Name: count, dtype: int64

Unique values in Category: ['Electronics' 'Clothing' 'Groceries' 'Toys' 'Furniture']
Value counts in Category:
Category
Groceries      30400
Furniture      13680
Clothing       12160
Toys           10640
Electronics     9120
Name: count, dtype: int64

Unique values in Region: ['North' 'South' 'East' 'West']
Value counts in Region:
Region
North    30400
South    15200
East     15200
West     15200
Name: count, dtype: int64

Unique values in Weather Condition: ['Snowy' 'Cloudy' 'Sunny' 'Rainy']
Value counts in Weather Condition:
Weather Condition
Cloudy    24360
Sunny     22980
Rainy     17500
Snowy     11160
Name: count, dtype: int64

Unique values in Seasonality: ['Winter' 'Spring' 'Summer' 'Autumn']
Value counts in Seasonality:
Seasonality
Winter    21000
Spring    18400
Summer    18400
Autumn    18200
Name: count, dtype: int64

Berikut adalah kode untuk melihat nilai unik dan jumlah kemunculan nilai di setiap kolom bertipe object pada `df2`:

In [13]:
for col in df2.select_dtypes(include='object').columns:
    print(f"Unique values in {col}: {df2[col].unique()}")
    print(f"Value counts in {col}:\n{df2[col].value_counts()}\n")

Unique values in SUPPLIER: ['REPUBLIC NATIONAL DISTRIBUTING CO' 'PWSWN INC' 'RELIABLE CHURCHILL LLLP'
 'LANTERNA DISTRIBUTORS INC' 'DIONYSOS IMPORTS INC'
 'KYSELA PERE ET FILS LTD' 'SANTA MARGHERITA USA INC'
 'BROWN-FORMAN BEVERAGES WORLDWIDE' 'JIM BEAM BRANDS CO'
 'INTERNATIONAL CELLARS LLC' 'HEAVEN HILL DISTILLERIES INC'
 'BACCHUS IMPORTERS LTD' 'MONSIEUR TOUTON SELECTION'
 'THE COUNTRY VINTNER, LLC DBA WINEBOW' 'ROYAL WINE CORP'
 'STE MICHELLE WINE ESTATES' 'Default' 'SAZERAC CO' 'SALVETO IMPORTS LLC'
 'HUB WINE CORPORATION' 'ALLAGASH BREWING COMPANY' 'CAMPARI AMERICA LLC'
 'PERNOD RICARD USA LLC' 'PRESTIGE BEVERAGE GROUP OF MD LLC'
 'BACARDI USA INC' 'YOUNG WON TRADING INC' 'TROEGS BREWING COMPANY'
 'CASTLE BRANDS USA CORP' 'LEGENDS LTD' 'WASHBURN WINE CO'
 'CELICAR LLC DBA TWIN VALLEY DISTILLERS' 'DOPS INC'
 'JACKSON FAMILY ENTERPRISES INC' 'BUCK DISTRIBUTING COMPANY INC'
 'PUNTO VINO LLC' 'VICTORY BREWING COMPANY LLC' 'THE WINE GROUP'
 'ELITE WINES IMPORTS' 'LUNEAU USA INC' 'BARON FRANCOIS LTD'
 'PROXIMO SPIRITS INC' 'SOUTHERN GLAZERS WINE AND SPIRITS'
 'DIAGEO NORTH AMERICA INC' 'OPICI FAMILY DISTRIBUTING OF MD'
 'MICHAEL R DOWNEY SELECTIONS INC' nan 'ATLAS BREW WORKS LLC'
 'FRONT PORCH MICRO WINERY LLC' 'TREASURY WINE ESTATES AMERICAS COMPANY'
 'TRADEWINDS SPECIALTY IMPORTS LLC' 'CONSTELLATION BRANDS'
 'SIERRA NEVADA BREWING CO' 'DUGGANS DISTILLERS PROD'
 'VINTAGE WINE ESTATES INC' 'SAGAMORE WHISKEY LLC' 'J LOHR WINERY'
 'LUXCO SPIRITED BRANDS' 'NEW PARROTT & CO'
 'CRAFT WINE & SPIRITS OF MARYLAND LLC' 'MHW LTD'
 'WILLIAM GRANT AND SONS INC' 'INTERBALT PRODUCTS CORP'
 'ARTISANS & VINES LLC' 'BRONCO WINE COMPANY' 'TI BEVERAGE GROUP LTD'
 'DELMAR BREWING COMPANY LLC' 'UNITED STATES DISTILLED PRODUCTS'
 'RIGHT FORWARD LLC' 'A I G WINE & SPIRITS' 'GRAPES OF SPAIN INC'
 'DEUTSCH FAMILY WINE & SPIRITS' 'MARK ANTHONY BRANDS INC'
 'SUTTER HOME WINERY INC' 'DUVEL MOORTGAT USA LTD' 'BACKUP BEVERAGE'
 'NORTH LOCK LLC DBA PORT CITY BREWING CO' 'PATERNO IMPORTS LTD'
 'BANFI PRODUCTS CORP' 'HEINEKEN USA' 'CONSTANTINE WINES INC'
 'JOS VICTORI WINES' 'STOLI GROUP (USA) LLC' 'E & J GALLO WINERY'
 'DUCKHORN WINE COMPANY' 'TRI-VIN IMPORTS' 'PIPE CREEK WINES LLC'
 'TREFETHEN VINEYARDS' 'BOSTON BEER CORPORATION' 'DON SEBASTIANI & SONS'
 'VIGNOBLES LVDH USA INC' 'TRICANA SHIPPERS & IMPORT'
 'LAPHAM SALES & MARKETING DBA LAPHAM' 'SCHUG CARNEROS ESTATE WINERY'
 'PARK STREET IMPORTS LLC' 'AREL GROUP WINE & SPIRITS'
 'MILLER BREWING COMPANY' 'KOBRAND CORPORATION'
 'EASTERN LIQUOR DISTRIBUTORS INC' 'THE EDRINGTON GROUP USA LLC'
 'FRANCIS COPPOLA WINERY LLC' 'SURVILLE ENTERPRISES CORP'
 'SERRALLES USA LLC' 'DELICATO FAMILY VINEYARDS' 'REMY COINTREAU USA'
 'CHASSEUR WINE LLC' 'AMERICAN BEVERAGE CORPORATION' 'MOET HENNESSY USA'
 'KATCEF BROTHERS INC' 'FIVE GRAPES LLC' 'PRECEPT BRANDS LLC'
 'DMV DISTRIBUTING LLC' 'FETZER VINEYARDS' 'TESTA WINES OF THE WORLD LTD'
 'THE HESS COLLECTION' 'AMERICAN BEVERAGE MARKETERS' 'TAPWINES'
 'HONIG VINEYARD AND WINERY' 'PREMIUM DISTRIBUTORS INC'
 'JACK POUST & COMPANY INC' 'MONTEBELLO BRANDS INC'
 'SIDNEY-FRANK IMPORTING CO' 'OREGON BREWING COMPANY'
 'NARRAGANSETT BREWING COMPANY' 'ANHEUSER BUSCH INC'
 'NEW BELGIUM BREWING INC' 'CROWN IMPORTS' 'PABST BREWING CO'
 'ST SUPERY INC' 'THE BROOKLYN BREWERY CORPORATION'
 'LABATT USA OPERATING CO LLC' 'GLOBAL OCEAN AND AIR CARGO SERVICES'
 'BANVILLE & JONES WINE MERCHANTS' 'FLYING DOG BREWERY LLLP'
 'MASS BAY BREWING CO' 'C MONDAVI & SONS'
 'CANTINIERE IMPORTS & DISTRIBUTING INC' 'FOWLES WINE USA INC'
 'FREIXENET MIONETTO USA INC' 'NICKOLAS IMPORTS LLC'
 'DANGEROUS WINE GROUP LLC' 'MACK & SCHUHLE INC' 'NICHE IMPORTERS'
 'FREE RUN WINE MERCHANTS LLC' 'QUINTESSENTIAL LLC'
 'GROTH VINEYARDS & WINERY' 'TAP26MD LLC' 'SMT AQUISITIONS LLC'
 'ATLANTIC WINE & SPIRITS' 'FREIXENET USA' 'CARROLL CREEK WHISKEY LLC'
 'FERRARI CARANO WINERY' 'ALLIED IMPORTERS USA LTD' 'FN CELLARS LLC'
 'YUENGLING BREWERY' 'THE SPANISH WINE IMPORTERS LLC' 'GAMBRINUS'
 'EVEREST SPIRITS LLC' 'TENTH HARVEST LLC' 'SOVEREIGN BRANDS LLC'
 'MADIDUS LLC' 'MCNEILL INDEPENDENT SPIRIT CREATORS LLC' 'RVWC LLC'
 'THE RIVER WINE' 'HOME BREW MART INC' 'ST KILLIAN IMPORTING CO INC'
 'COASTAL BREWING COMPANY LLC' 'CLIPPER CITY BREWING CO'
 'VERMONT HARD CIDER COMPANY LLC' 'DC BRAU BREWING LLC'
 'SPAINS BEST BEERS INC' 'BBL INC' 'BINDING BRAUEREI USA INC'
 'TERRAPIN BEER COMPANY' 'BOLD ROCK PARTNERS LP' 'STEFANO INCORPORATED'
 'WAGNER WINE COMPANY LLC' 'IMPERO WINE DISTRIBUTORS VIRGINIA INC'
 'CHARLES JACQUIN ET CIE INC' 'WINE BRIDGE IMPORTS INC' 'ZURENA LLC'
 'SAN ANTONIO WINERY INC' 'GOOSE RIDGE LLC' 'SOKOL BLOSSER LTD'
 "O'NEILL BEVERAGES CO LLC" 'SCHMITT SOHNE INC'
 'GEORGIAN HOUSE OF GREATER WASHINGTON' 'MEXCOR INTERNATIONAL'
 'THE SANDY BOTTOM ENTERPRISES LLC' 'E M D SALES INC'
 'CABERNET CORPORATION' 'FOLEY FAMILY WINES INC'
 'PLUME RIDGE IRREVOCABLE TRUST' 'OSLO ENTERPRISE'
 'THE TRITON COLLECTION INC' 'SWEETWATER BREWING COMPANY LLC'
 'PHILLIPS FARMS LLC' 'ELK RUN VINEYARDS' 'LCF WINE COMPANY LLC'
 'ROBERT OATLEY VINEYARDS INC' 'TREANA WINERY LLC' 'VINTAGE POINT LLC'
 'AIKO IMPORTERS INC' 'WELL OILED WINE COMPANY LLC'
 'FILIBUSTER BARRELS LLC' 'POTOMAC SELECTIONS INC' 'RED INK IMPORTS'
 'MAST-JAEGERMEISTER US INC' 'VINTURE WINE COMPANY LLC'
 'SCOPERTA IMPORTING COMPANY INC' 'PARAGON VINEYARD CO INC'
 'KLEIN FAMILY VINTNERS' 'ROOTS RUN DEEP LLC' 'WI INC'
 'WILLIAM HARRISON IMPORTS' 'FLAVOR SEEKERS LLC' 'FIFTH GENERATION INC'
 'RUSSIAN STANDARD VODKA (USA) INC' 'COPPER CANE LLC'
 'STELLAR IMPORTING CO LLC' 'LEGACY PARTNERS DISTRIBUTION LLC'
 'REPUBLIC RESTORATIVES' 'SPLINTER GROUP NAPA LLC'
 'FREDERICK WILDMAN & SONS' 'THREE STARS BREWING COMPANY LLC'
 'PRESTIGE WINE IMPORTS' 'AZABU DISTILLING CO LLC'
 'IMPERO WINE DISTRIBUTORS' 'VINTUS LLC' 'AMERICAN FIDELITY TRADING'
 'HOTALING & CO LLC' 'PALM BAY IMPORTS' 'BASQUE BAR LLC'
 'COMETE WINES LLC' 'SANGLIER SELECTIONS LLC'
 'GF WINES, LLC DBA GARY FARRELL WINERY' 'MACCHU PISCO LLC'
 'INFINIUM SPIRITS INC' 'VIN DIVINO LTD' 'FAR NIENTE WINERY INC'
 'JORDAN VINEYARD' 'ST RICE WINE INC' 'DISARONNO INTERNATIONAL LLC'
 'ADAMBA IMPORTS INTL' 'SUGARLOAF MOUNTAIN SUNLIGHT VINEYARD LLC'
 'LAIRD AND COMPANY' 'RUTHERFORD WINE COMPANY' 'NOVELTY MD INC'
 'WARSTEINER IMPORTERS' 'SLIGO MILL BREWING LLC' 'HOUTON PURVEYORS LLC'
 'OHMRONE WINE AND LIQUOR LLC' 'MOUNT DEFIANCE CIDERY & DISTILLERY LLC'
 'NEGUS BREWING COMPANY LLC' 'NEXTERRA WINE COMPANY'
 'CITIZENS BREWING LLC' 'WESTERN SPIRITS BEVERAGE COMPANY LLC'
 'LYON DISTILLING COMPANY LLC' 'BULLSHINE DISTILLERY LLC'
 'DRAGON DISTILLERY LLC' 'OCEAN CITY BREWING CO LLC' 'LION NATHAN USA INC'
 'KAHN PAPER COMPANY INC' 'CHEVAL QUANCARD' 'FRUIT OF THE VINES INC'
 'SUGARLOAF MOUNTAIN VINEYARD LLC' 'KING ESTATE WINERY'
 'ASAHI BEER USA INC' 'SINGHA NORTH AMERICA INC' 'HAMCO DC'
 'BROOKEVILLE BREWING LLC' 'MESOZOIC TECHNOLOGIES LLC' 'BITTERMILK LLC'
 'HARVEST IMPORTING LLC' 'REGAL WINE IMPORTS INC' 'THE WINE SOURCE INC'
 'WINERY EXCHANGE INC' 'Z WINE GALLERY IMPORTS LLC' 'SAWM IMPORTS LLC'
 'ST GEORGE SPIRITS INC' 'WILLIAMS CORNER WINE' 'LOOK VODKA LLC'
 'BREWDOG BREWING COMPANY LLC' 'TRUE RESPITE BREWING COMPANY LLC'
 'CROOK & MARKER LLC' 'SNR HOLDINGS LLC' 'PARALLEL WORLD BREWING COMPANY'
 'RSL HOLDINGS INC' 'GJS SALES INC'
 'VINIFERA DISTRIBUTING OF MARYLAND INC' 'MARQUEE SELECTIONS LLC'
 'SMITH-ANDERSON ENTERPRISES INC']
Value counts in SUPPLIER:
SUPPLIER
THE COUNTRY VINTNER, LLC DBA WINEBOW    2041
REPUBLIC NATIONAL DISTRIBUTING CO       1832
SOUTHERN GLAZERS WINE AND SPIRITS       1304
LEGENDS LTD                             1227
MONSIEUR TOUTON SELECTION               1131
                                        ...
SNR HOLDINGS LLC                           1
SANGLIER SELECTIONS LLC                    1
RSL HOLDINGS INC                           1
MARQUEE SELECTIONS LLC                     1
SMITH-ANDERSON ENTERPRISES INC             1
Name: count, Length: 290, dtype: int64

Unique values in ITEM CODE: ['100009' '100024' '1001' ... '352162' '352268' '352320']
Value counts in ITEM CODE:
ITEM CODE
16225     4
162639    4
12740     4
162680    4
12528     4
         ..
351950    1
351942    1
351926    1
351914    1
351900    1
Name: count, Length: 15668, dtype: int64

Unique values in ITEM DESCRIPTION: ['BOOTLEG RED - 750ML' 'MOMENT DE PLAISIR - 750ML'
 'S SMITH ORGANIC PEAR CIDER - 18.7OZ' ...
 'ANXO NEVERTHELESS WE PERSISTED 1/6 KEG' "E' ARTE PRIMITIVO - 750ML"
 'CINCO SENTIDOS PAPALOMETL MEZCAL - 750ML']
Value counts in ITEM DESCRIPTION:
ITEM DESCRIPTION
TENTH WARD DIST CO CARAWAY RYE - 750ML             5
LINGANORE BLACK RAVEN - 750ML                      5
SVEDKA VODKA BLUE RASPBERRY - 750ML                4
CHRISTIAN BROTHERS BRANDY - PEACH - 750ML          4
PRAIRIE ORGANIC VODKA - 750ML                      4
                                                  ..
FLOR DE CANA CENTENARIO 25YR - 750ML               1
LOS MORROS CARMENERE - 750ML                       1
EIKO FUJI HONKARA DRY MOUNTAIN - 720ML             1
FORTALEZA STILL STRENGHT BLANCO TEQUILA - 750ML    1
LE PETIT PONT ROSE- 750ML                          1
Name: count, Length: 15732, dtype: int64

Unique values in ITEM TYPE: ['WINE' 'BEER' 'LIQUOR' 'STR_SUPPLIES' 'KEGS' 'REF' 'DUNNAGE'
 'NON-ALCOHOL']
Value counts in ITEM TYPE:
ITEM TYPE
WINE            18680
LIQUOR           5995
BEER             4217
KEGS              808
NON-ALCOHOL       216
STR_SUPPLIES       63
DUNNAGE            13
REF                 8
Name: count, dtype: int64

Berikut adalah kode untuk melihat nilai unik dan jumlah kemunculan nilai di setiap kolom bertipe object pada `df3`:

In [14]:
for col in df3.select_dtypes(include='object').columns:
    print(f"Unique values in {col}: {df3[col].unique()}")
    print(f"Value counts in {col}:\n{df3[col].value_counts()}\n")

Unique values in date: ['2023-01-01' '2023-01-02' '2023-01-03' ... '2036-09-05' '2036-09-06'
 '2036-09-07']
Value counts in date:
date
2036-09-07    1
2023-01-01    1
2023-01-02    1
2023-01-03    1
2023-01-04    1
             ..
2023-01-12    1
2023-01-11    1
2023-01-10    1
2023-01-09    1
2023-01-08    1
Name: count, Length: 4999, dtype: int64

Berikut adalah kode untuk memeriksa jumlah missing values pada setiap kolom di `df1`:

In [15]:
print("Missing values in df1:")
print(df1.isnull().sum().to_markdown(numalign="left", stralign="left"))

Missing values in df1:
|                    | 0   |
|:-------------------|:----|
| Date               | 0   |
| Store ID           | 0   |
| Product ID         | 0   |
| Category           | 0   |
| Region             | 0   |
| Inventory Level    | 0   |
| Units Sold         | 0   |
| Units Ordered      | 0   |
| Price              | 0   |
| Discount           | 0   |
| Weather Condition  | 0   |
| Promotion          | 0   |
| Competitor Pricing | 0   |
| Seasonality        | 0   |
| Epidemic           | 0   |
| Demand             | 0   |

Berikut adalah kode untuk memeriksa jumlah data duplikat pada `df1`:

In [16]:
print("\nDuplicate rows in df1:")
print(df1.duplicated().sum())

Duplicate rows in df1:
0

Berikut adalah kode untuk memeriksa jumlah missing values pada setiap kolom di `df2`:

In [17]:
print("\nMissing values in df2:")
print(df2.isnull().sum().to_markdown(numalign="left", stralign="left"))

Missing values in df2:
|                  | 0   |
|:-----------------|:----|
| YEAR             | 0   |
| MONTH            | 0   |
| SUPPLIER         | 33  |
| ITEM CODE        | 0   |
| ITEM DESCRIPTION | 0   |
| ITEM TYPE        | 0   |
| RETAIL SALES     | 1   |
| RETAIL TRANSFERS | 0   |
| WAREHOUSE SALES  | 0   |

Berikut adalah kode untuk memeriksa jumlah data duplikat pada `df2`:

In [18]:
print("\nDuplicate rows in df2:")
print(df2.duplicated().sum())

Duplicate rows in df2:
0

Berikut adalah kode untuk memeriksa jumlah missing values pada setiap kolom di `df3`:

In [19]:
print("\nMissing values in df3:")
print(df3.isnull().sum().to_markdown(numalign="left", stralign="left"))

Missing values in df3:
|                        | 0   |
|:-----------------------|:----|
| date                   | 0   |
| product_id             | 0   |
| sales_units            | 0   |
| holiday_season         | 0   |
| promotion_applied      | 0   |
| competitor_price_index | 0   |
| economic_index         | 0   |
| weather_impact         | 0   |
| price                  | 0   |
| discount_percentage    | 0   |
| sales_revenue          | 0   |
| region_Europe          | 0   |
| region_North America   | 0   |
| store_type_Retail      | 0   |
| store_type_Wholesale   | 0   |
| category_Cabinets      | 0   |
| category_Chairs        | 0   |
| category_Sofas         | 0   |
| category_Tables        | 0   |
| future_demand          | 0   |

Berikut adalah kode untuk memeriksa jumlah data duplikat pada `df3`:

In [20]:
print("\nDuplicate rows in df3:")
print(df3.duplicated().sum())

Duplicate rows in df3:
0